* {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

p {
   font-size: 0.9em;
   margin: 0;
}

body {
   font-size: 1.2em;
   font-family: Georgia;
}

body > div {
   background-color: #ccc;
   width: 375px;
   padding: 25px;
   margin-left: auto;
   margin-right: auto;
}

#description {
   margin-top: 25px;
}

#password-form {
   margin-top: 10px;
   text-align: center;
}

#password-form-result-wrapper {
   display: none;
}

#password-form-result-wrapper p {
   margin-bottom: 0;
}

#password-form-result-wrapper a {
   text-decoration: underline;
   font-weight: bold;
}

#password-try-again-wrapper {
   margin-top: 1em;
}

.hint {
   color: #999;
   font-style: italic;
   text-align: center;
}

input {
   padding: 5px;
   margin: 0;
   margin-bottom: 5px;
   font-size: 1em;
   font-family: Georgia;
   width: 100%;
   display: inline-block;
}

#new_password,
input[value='New password'] {
   width: 49%;
   float: left;
}

#new_password_verify,
input[value=Verify] {
   width: 49%;
   float: right;
}

#validation {
   font-size: 0.8em;
   text-align: left;
   background-color: #eee;
   padding: 10px;
   border: 1px solid #aaa;
   clear: both;
}

#validation ul li.passed {
   text-decoration: line-through;
   color: #999;
}

#validation ul {
   margin-bottom: 5px;
   margin-top: 5px;
   list-style-type: square;
}

#validation.passed {
   background-color: #AFF0B3;
}

#requirements-container div.passed {
   color: #999;
}

#match-requirement {
   display: none;
}

#pass-container {
   display: none;
}

input[type=submit] {
   clear: both;
   margin-bottom: 0;
   margin-top: 5px;
   padding: 10px;
}
